.contentcolumn img {
  transition: 0.2s ease-in-out;
  height: 130px;
  margin-bottom: 10px;
}

.contentcolumn h4{
  text-align: center;
  height: 30px;
  font-size: 14px;
}

.contentrow{
  margin: 15px 0;
}

.contentcolumn{
  display: inline;
  float: left;
  height: 170px;
  width: 180px;
  margin: 0 20px;
  overflow: hidden;
  transition: 0.2s ease-in-out;

  border-radius: 5px;
  border: 1px solid #efefef;
  border-bottom: 3px solid #efefef;
}

.contentcolumn:hover{
  color: #1971b0;
  border-bottom-color: #1971b0;
}


.contentcolumn img:hover{
  filter: opacity(0.9);
  transition: 0.2s ease-in-out;
}

#gallerywrapper{
  display: inline-block;
}

#gallery{
  text-align: center;
}
