* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #464646;
}

body {
  font-family: 'Roboto', sans-serif;
}

div {
  /*border: 1px solid black;*/
}

.cleaner {
  clear: both;
}

.active {
  border-bottom: 4px solid #1971b0;
}

#header {
  background: #fafafa;
  margin: 0 auto;
  width: 100%;
  border-bottom: 3px solid #ebebeb;
}

#logo {
  width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#logo img {
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

#heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#heading img {
  flex-grow: 2;
  margin: 0 auto;
}

#navbar {
  text-align: center;
  margin: 0 auto;
}

#navbar ul li {
  margin: 15px;
  display: inline;
}

#navbar ul li a {
  padding: 5px 5px;
  display: inline-block;
  transition: 0.1s ease-in-out;
}

#navbar ul li a:hover {
  transform: translateY(-2px);
  transition: 0.1s ease-in-out;
}

#navbar i {
  padding: 0px 5px;
  color: #1971b0;
}

#wrapper {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}

#sidebar {
  float: left;
  padding: 10px;
  width: 200px;
  height: 85vh;
  background: whitesmoke;
}


#loginForm button {
  width: 45%;
}

#loginForm form>* {
  margin-bottom: 10px;
}

#loginForm input {
  padding: 4px 0;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

#loginForm i {
  padding: 0 5px;
}

#loginForm button, #contactform button {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background: #ebebeb;
  transition: 0.1s ease-in-out;
}

#loginForm button:hover, #contactform button:hover {
  color: whitesmoke;
  background-color: #1971b0;
  transition: 0.1s ease-in-out;
}

#fpassword {
  text-align: center;
  font-size: 0.8em;
}

#footer {
  border-top: 2px solid #ebebeb;
  width: 100%;
  padding: 0.5em 0;
  background: #fafafa;

  margin-top: 200px;

}

#footer div p {
  text-align: center;
}

#content {
  margin: 0 auto;
}


#homeheading{
	position: absolute;

	margin-top: -50px;
  display: block;
  color: white;
  background-color: #1971b0;
  padding: 15px;
}

#hometext{
  text-align: justify;
  font-size: 20px;
  margin-top: 50px;
  padding: 20px 0px;
  border-top: 2px solid #1971b0;
  border-bottom: 2px solid #1971b0;
}
